<h1>New traveller</h1>
<p>Are you excited to take the journey of the life and join us in the Mars exploration? If yes, you’ve reached the right place. Please add your name and email and our team will reach you for next steps.”
</p>

<%= render 'form' %>

<%= link_to 'Back', travellers_path %>
